<h2>Конные туры</h2>
<a href="{% url 'tour_create' %}"> Добавить новый тур </a>
<ul>
    {% for tour in tours %}
        <li>
            {% if tour.image %}
                <img src="{{ tour.image.url }}" alt="{{ tour.title }}" style="width: 100px; height: auto; margin-right: 10px;">
            {% endif %}
            {{ tour.title }} - {{ tour.price }} сом 
            <a href="{% url 'tour_update' tour.id %}"> Изменить </a>
            <a href="{% url 'tour_delete' tour.id %}"> Удалить </a>
        </li>
    {% endfor %}
</ul>