<h1>{{ book.title }}</h1>

<p>{{ book.description }}</p>
<p><strong>Просмотров: {{ book.views_count }}</strong></p>

{% if book.image %}
    <img src="{{ book.image.url }}" alt="{{ book.title }}" width="200">
{% endif %}

<p>Автор: {{ book.author }}</p>
<p>Количество страниц: {{ book.quantity_pages }}</p>
<p>Жанр: {{ book.genre }}</p>
<p>Цена: {{ book.price }} сом</p>
<p>Email издателя: {{ book.email_publisher }}</p>
<p>Добавлено: {{ book.created_at|date:"d.m.Y" }}</p>

<a href="{{ book.book_file.url }}" target="_blank">Читать PDF -></a>
<br><br>
<a href="/book_list/">Вернуться назад</a>